@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USew8.ttf) format('truetype');
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
body {
  background: #69757d;
}
.loading {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.http-error {
  text-align: center;
  font-size: 23px;
  font-weight: bold;
}
body,
html {
  height: 100%;
}
.btn-create {
  font-weight: bold;
  padding: 3px 10%;
  cursor: pointer;
}
.btn-create:focus,
.btn-create:active {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #ffc107;
}
.btn-create .icon-create {
  display: inline-block;
  color: #fff;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}
.stickers {
  position: absolute;
}
.stickers .btn-delete {
  display: block;
  padding: 2px 0;
  background: #a61525;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.stickers .btn-delete:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #a61525;
  background: #ffbe00;
}
.stickers__body {
  width: 100%;
  height: 85%;
  padding: 10px 5px;
  padding-right: 20px;
  resize: none;
}
.stickers__body::-webkit-scrollbar {
  background: transparent;
}
.stickers__body:hover::-webkit-scrollbar {
  background: #ffbe00;
}
.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-weight: bold;
  font-size: 32px;
  color: #fff;
}
.wrapper {
  position: relative;
  height: 100%;
}
