@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USew8.ttf) format('truetype');
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
body {
  position: relative;
}
body {
  background: #f8f9fa;
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.input-task {
  width: 75%;
  border-radius: 5px;
  font-size: 13px;
  padding-left: 10px;
  color: #000;
  outline: none;
  border-color: transparent;
  cursor: pointer;
}
.input-task:focus {
  border-color: #c9edf2;
}
.btn-add-task {
  display: block;
  padding: 5px 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #0081fe;
  color: #fff;
  border: none;
}
.btn-add-task:focus {
  outline: none;
  border: none;
}
.task-list {
  width: 80%;
  margin: 0;
  padding: 0;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  list-style-type: none;
}
.task {
  position: relative;
  margin: 0;
  padding: 0;
  padding: 4px 10px;
  padding-right: 10%;
  text-align: left;
  background: #fffacd;
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.task .material-icons {
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ff0000;
  cursor: pointer;
}
.task:last-child {
  margin-bottom: 0;
}
.task-done {
  background: #00fa9a !important;
}
.btn-disabled {
  opacity: 0.4;
}
@media (min-width: 768px) {
  .btn-add-task {
    padding: 8px 27px;
    font-size: 18px;
  }
  .input-task {
    font-size: 18px;
  }
  .task {
    padding: 3px 10px;
    padding-right: 10%;
    font-size: 19px;
  }
  .task .material-icons {
    font-size: 25px !important;
  }
}
