@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USew8.ttf) format('truetype');
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
body {
  position: relative;
}
.loading {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.http-error {
  text-align: center;
  font-size: 23px;
  font-weight: bold;
}
.wrapper-content {
  width: 90%;
  margin: auto;
}
.table-contact {
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.1rem;
}
.thead-contact {
  background: #007dff;
}
.td-contact {
  padding: 9px 5px;
}
.tbody-contact {
  color: #000;
}
.tbody-contact tr:nth-child(odd) {
  background: #eee;
}
.td-body {
  padding: 4px 5px;
  border-right: 1px solid #777;
  font-size: 12px;
}
.td-body:last-child {
  border-right: none;
}
.btn-delete {
  color: red;
  cursor: pointer;
}
.td-delete {
  vertical-align: middle;
  padding-right: 1%;
}
.border-right-none {
  border-right: none !important;
}
@media (min-width: 768px) {
  .table-contact {
    font-size: 15px;
  }
  .td-body {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  .table-contact {
    font-size: 18px;
  }
  .td-body {
    font-size: 17px;
  }
}
.btn-success:focus {
  border-color: transparent;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
