@import './utils.less';
@import './HTTPLoading.less';

.wrapper-content {
  width: 90%;
  margin: auto;
}

.table-contact {
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.1rem;
}

.thead-contact {
  background: #007dff;
}

.td-contact {
  padding: 9px 5px;
}

.tbody-contact {
  color: #000;

  tr {
    &:nth-child(odd) {
      background: #eee;
    }
  }
}

.td-body {
  padding: 4px 5px;
  border-right: 1px solid #777;
  font-size: 12px;
  &:last-child {
    border-right: none;
  }
}

.btn-delete {
  color: red;
  cursor: pointer;

  &:hover {
    color: #fff;
    background: red;
    transition: 0.5s;
  }
}

.td-delete {
  vertical-align: middle;
  padding-right: 1%;
}

.border-right-none {
  border-right: none !important;
}

@media (min-width: 768px) {
  .table-contact {
    font-size: 15px;
  }

  .td-body {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .table-contact {
    font-size: 18px;
  }
  .td-body {
    font-size: 17px;
  }
}

.btn-success {
  &:focus {
    border-color: transparent;
    outline: none;
    box-shadow: none;
  }
}
