@import './utils.less';
@import './HTTPLoading.less';

body,
html {
  height: 100%;
}
.btn-create {
  font-weight: bold;
  padding: 3px 10%;
  cursor: pointer;

  &:focus,
  &:active {
    outline: none;
    border: none;
    box-shadow: none;
    background: #ffc107;
  }
  .icon-create {
    display: inline-block;
    color: #fff;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
  }
}

.stickers {
  position: absolute;

  .btn-delete {
    display: block;
    padding: 2px 0;
    background: #a61525;
    text-align: center;
    color: #fff;
    cursor: pointer;

    &:hover {
      transition: 0.5s;
      color: #a61525;
      background: #ffbe00;
    }
  }
}

.stickers__body {
  width: 100%;
  height: 85%;
  padding: 10px 5px;
  padding-right: 20px;
  resize: none;

  &::-webkit-scrollbar {
    background: transparent;
  }
  &:hover {
    &::-webkit-scrollbar {
      background: #ffbe00;
    }
  }
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-weight: bold;
  font-size: 32px;
  color: #fff;
}

.wrapper {
  position: relative;
  height: 100%;
}
