.add_new-task {
    padding: 7px 13px;
    border: none;
    border-radius: 3px;
    background: #00BF8C;
    color: #fff;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

.input-task {
    min-width: 270px;
    height: 20px;
    padding-left: 5px;
    cursor: pointer;
}

.todo-list {
    margin-top: 20px;
}

.disabled {
    opacity: .5;
}

.not-completed {
    background: #FFFACD;
}

.completed {
    background: #00FF7F;
}

.not-completed,
.completed {
    position: relative;
    margin: 0;
    padding: 10px 15px;
    max-width: 51.5%;
    list-style-type: none;
    border-bottom: 1px solid #C0C0C0;
    font-size: 19px;
}

.delete-btn {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 21px;
    cursor: pointer;
}

.hide {
    -moz-transform: translateX(-120%);
    -webkit-transform: translateX(-120%);
    transform: translateX(-120%);
    transition: .5s;
    -webkit-box-shadow: 0px 27px 20px -28px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 27px 20px -28px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 27px 20px -28px rgba(0, 0, 0, 0.75);
}