.list-users {
  background: #2a495e;

  .user {
    padding: 10px 15px;
    background: #0072de;
    color: #fff;
  }
}

.user__icon {
  padding: 6px;
  margin-right: 17%;
  background: pink;
  border-radius: 100px;
}

.dialog {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  padding-bottom: 0;
}

.dialog-list {
  overflow-y: auto;

  .list__message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .user__icon {
      padding: 7px 10px;
      border-radius: 5px;
      margin-right: 5%;
      text-align: center;
    }
  }

  .message {
    display: flex;
    align-items: center;
    margin-right: 5px;
    width: 100%;
    padding: 10px 15px;
    background: #0074de;
    color: #fff;
    border-radius: 5px;
  }
}

.input-group-text {
  color: #fff;
  background: #00a4f3;
  cursor: pointer;
}

.input-group {
  margin-top: auto;
}

.close-connection {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  font-size: 36px;
  line-height: 29px;
  color: #777;
  text-align: center;
}

.error {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  font-size: 36px;
  font-weight: bold;
  line-height: 29px;
  color: red;
  text-align: center;
}
